/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

* {
    box-sizing: border-box;
}

.non-desktop {
    display: none;
}

a {
    text-decoration: none;
}

body {
    
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #464646;
}

ol, ul,li {
    list-style: none;
    padding-inline-start: 0;
    margin: unset;
}

h2, h3 {
    margin: unset;
}

a.auxiliary, button.auxiliary {
    height: 51px;
    /* align-items: center; */
    text-align: center;
    padding: 16px 70px;
    color: #2A7AE4;
    font-size: 16px;
    border: 1px solid #2A7AE4;
    text-decoration: none;
}

a.main, button.main {
    width: 165px;
    height: 51px;
    /* align-items: center; */
    text-align: center;
    padding: 16px;
    background: #2A7AE4;
    font-size: 16px;
    color: white;
    border: 8px;
}

.logo_div, .logo_top_div {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 27px;
}

.logo_nav_div {
    align-items: center;
    font-weight: bold;
    font-size: 27px;
}

.ac {
    align-items: center;
}

.start {
    align-items: start;
}

.logo_img {
    margin-right: 5px;
}

.title_highlight {
    color: #2A7AE4;   
}

input.search {
    padding: 8px 16px;
    gap: 8px;

    width: 393px;
    height: 40px;

    /* Preto/05% */

    background: #F5F5F5;
    border-radius: 20px;
}

input.search::placeholder {
    color: #A2A2A2;
}

header {
    background-color: white;
    gap: 32px;
    align-items: center;
}

header, section {
    padding: 37.5px 152px;
    display: flex;
}

div.login {
    display: flex;
    justify-content: end;
    flex-grow: 1;
}

.hero_1_title {
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
}

.hero_2_title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

#banner {
    color: white;
    height: 352px;
    background-image: url("assets/banner.png");
    background-size: 100% 100%;
    padding-top: 150px;
    padding-bottom: 32px;
}

.banner_content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/** main */
main {
    padding: 64px 152px;
}

.category_top_bar {
    display: flex;
    font-weight: bold;
    align-items: center;
    margin-bottom: 16px;
}

.category_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.category_more {
    flex-grow: 1;
    text-align: end;
    line-height: 19px;
    color: #2A7AE4;
}

.category_content {
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow: hidden;
}

.product_description {
    font-weight: 500;
}

.product_price, .product_link {
    font-weight: bold;
}

.product_link {
    color: #2A7AE4;
}

/** contact */
#contato {
    background: #EAF2FD;
    display: flex;
    justify-content: space-between;
}

.contact-nav {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 24px;
}

.contact-nav > a {
    color: #464646;
    font-weight: 500;
}

.contato_form_col {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.formcontato__title {
    font-weight: 700;
    margin: unset;
}

.formcontato__subtext {
    font-weight: 500;
}

div.formcontato__text {
    margin-left: 16px;
}

div.formcontato__text, form.formcontato__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}   


.inp {
    position: relative;
    margin: auto;
    width: 100%;
    /* max-width: 280px; */
    border-radius: 3px;
    overflow: hidden;
}

.label {
    position: absolute;
    top: 20px;
    left: 16px;
    font-size: 16px;
    color: #A2A2A2;
    /* color: rgba($dark,.5); */
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0,0,0);
    transition: all .2s ease;
    pointer-events: none;
}

.focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba($dark,.05) */
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}

.input-field-format {
    height: 56px;
}

.formcontato__input {    
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: none;
    padding: 16px 12px 0 12px;
    box-shadow: inset 0 -1px 0 #C8C8C8;
}


.formcontato__input:valid
      + .label{
    color: #A2A2A2;;
    transform: translate3d(0,-12px,0) scale(.75);
}

.formcontato__input:hover:not(:placeholder-shown)
      + .label{
    color: #2A7AE4;
    transform: translate3d(0,-12px,0) scale(.75);
}

.formcontato__input:hover:focus{
    /* background: rgba($dark,.05); */
    outline: none;
    box-shadow: inset 0 -2px 0 #C8C8C8;
}

.formcontato__input:hover:focus + .label{
    /* color: $primary */
    transform: translate3d(0,-12px,0) scale(.75);
}

.formcontato__input:hover:focus + .label  + .focus-bg{
    /* color: $primary */
    transform: scaleX(1);
    transition: all .1s ease;
}

.formcontato__textarea {    
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: none;
    padding: 16px;
    padding-top: 22px;
    box-shadow: inset 0 -1px 0 #C8C8C8;
}

.formcontato__textarea:hover:not(:placeholder-shown)
      + .label{
    color: #2A7AE4;
    transform: translate3d(0,-12px,0) scale(.75);
}

.formcontato__textarea:hover:focus{
    /* background: rgba($dark,.05); */
    outline: none;
    box-shadow: inset 0 -2px 0 #C8C8C8;
}

.formcontato__textarea:hover:focus + .label{
    /* color: $primary */
    transform: translate3d(0,-12px,0) scale(.75);
}

.formcontato__textarea:hover:focus + .label  + .focus-bg{
    /* color: $primary */
    transform: scaleX(1);
    transition: all .1s ease;
}

footer {
    text-align: center;
    height: 102px;
    line-height: 19px;
    font-weight: 500;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 10px;
}

.mobile {
    display: none;
}
/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (max-width: 1190px) {
    .non-desktop {
        display: flex;
    }

    .logo_nav_div.non-desktop {
        margin-bottom: 16px;
    }

    header, section, main {
        padding: 32px;
    }

    .logo_div{
        display: none;
    }

    #contato > * {
        flex-grow: 1;
    }

}

@media (max-width: 767px) {

    header, section, main {
        padding: 16px;
    }

    .mobile {
        display: inherit;
    }

    .saearch_div {
        display: none;
    }

    #banner {
        padding-top: 78px;
        height: 192px;
    }

    .banner_content {
        font-size: 14px;
        gap: 8px;
    }

    .hero_1_title {
        font-size: 22px;
        line-height: 26px;
    }

    .hero_2_title {
        line-height: 16px;
        font-size: 14px;
    }

    a.main, button.main {
        width: auto;
        height: auto;
        /* align-items: center; */
        padding: 12px 16px;
        font-size: 14px;
        color: white;
    }

    a.auxiliary, button.auxiliary {
        padding: 12px 47px;
        height: 40px;
    }

    #contato {
        flex-direction: column;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
    }

    .banner_content > a.main {
        width: 119px;
    }

    .logo_img {
        height: 16px;
    }

    .logo_top_div {
        font-size: 16px;
    }
}
